{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
   
</style>

<div class="">
    <h1 class=''>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/Utilisateur/Documents/Simplon/Dev web/Brief/Agence de voyage/symfo_voyage/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>C:/Users/Utilisateur/Documents/Simplon/Dev web/Brief/Agence de voyage/symfo_voyage/templates/home/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
