{% extends 'base.html.twig' %}

{% block title %}Edit AdvUtilisateur{% endblock %}

{% block body %}
    <h1>Edit AdvUtilisateur</h1>

    {{ include('adv_utilisateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_adv_utilisateur_index') }}">back to list</a>

    {{ include('adv_utilisateur/_delete_form.html.twig') }}
{% endblock %}
