{% extends 'base.html.twig' %}

{% block title %}New AdvUtilisateur{% endblock %}

{% block body %}
    <h1>Create new AdvUtilisateur</h1>

    {{ include('adv_utilisateur/_form.html.twig') }}

    <a href="{{ path('app_adv_utilisateur_index') }}">back to list</a>
{% endblock %}
