{% if app.request.pathinfo == path('app_adv_reservation_index') %}
<form method="post" action="{{ path('app_adv_reservation_delete', {'id': adv_reservation.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette réservation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adv_reservation.id) }}">
    <button class="text-red-500 transition duration-200 hover:text-red-600">Supprimer</button>
</form>

{% else %}


<form method="post" action="{{ path('app_adv_reservation_delete', {'id': adv_reservation.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adv_reservation.id) }}">
    <button class="block text-white py-1.5 px-4 mr-2 h-fit rounded transition duration-200 bg-red-500 hover:bg-red-600 text-lg">Supprimer</button>
</form>

{% endif %}