<form method="post" action="{{ path('app_adv_voyage_delete', {'id': adv_voyage.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce voyage ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adv_voyage.id) }}">
    <button class="block text-white py-1.5 px-4 mr-2 h-fit rounded transition duration-200 bg-red-500 hover:bg-red-600 text-lg">Supprimer</button>
</form>
